.title {
  text-align: center;
  color: #212ea0;
  font-size: 16px;
  margin: 60px 0 25px;

  p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
  }

  span {
    font-size: 22px;
    color: #000f38;
    font-weight: 500;
  }
}
