nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 5px;
  z-index: 12;
  width: 100%;
  border-bottom: 1px solid #fff;
  color: #fff;

  .logo {
    width: 180px;
    cursor: pointer;
  }

  ul li {
    display: inline-block;
    margin: 5px 20px;
    font-size: 17px;
    text-transform: uppercase;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }
}

.sticky_dark {
  background: #212ea0;
  transition: 0.5s;
}
