.programs {
  margin: 60px auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .program {
    flex-basis: 31%;
    position: relative;

    img {
      width: 100%;
      border-radius: 10px;
      display: block;
    }

    .caption {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 10px;
      background-color: rgba(0, 15, 152, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
      cursor: pointer;
      opacity: 0;
      padding-top: 70%;
      transition: 0.5s;

      img {
        width: 60px;
        margin-bottom: 10px;
      }
    }

    &:hover .caption {
      opacity: 1;
      padding-top: 0;
    }
  }
}
